*{
    margin: 0;
    padding:0;
}

body{
    background-color: grey;
}

.face{
    width:500px;
    height:500px;
    background: orange;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left:50%;
    margin-left: -250px;
    margin-top: -250px;
}

.eye{
    width:200px;
    height:200px;
    position: absolute;
    background:white;
    border-radius: 50%;
    top:100px;
    overflow:hidden;

}

.eye:nth-child(1){
    left:40px
}
.eye:nth-child(2){
    right:40px
}

.pupil{
    width:50px;
    height:50px;
    background:black;
    border-radius: 50%;
    position: absolute;
    left:60px;
    top:80%;
    margin-left: -25px;
    margin-top: -25px;

}
.pupil::after{
    transform: translate3d(60px);
}
.lips{
    width:400px;
    height:400px;
    background:transparent;
    border-radius: 50%;
    position: absolute;
    left:50%;
    bottom:80px;
    margin-left: -200px;
    border:5px solid black;
    border-color: transparent transparent black transparent;

}
 .pupil{
    animation:updown 4s ease-in-out infinite;
 }                                           

 @keyframes updown {
    0%{
        transform: translatey(0px);
    }
    40%{
        transform:translatex(90px);
    }
    70%{
        transform: translatex(-20px);
    }
    100%{
        transform: translate3d(-0px);
    }
    
    
 }
